<div *ngIf="!showRegistrationForm">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
        [(ngModel)]="emailAddress" name="emailAddress">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password"
        name="password">
    </div>
    <button type="button" class="btn btn-outline-primary btn-block mr-2" (click)="onLogin()">Login</button>
    <button type="button" class="btn btn-outline-primary btn-block mr-2" (click)="onRegister()">Register</button>
    <button type="button" class="btn btn-outline-primary btn-block mr-2" (click)="onReset()">Reset</button>
  </form>
</div>

<div *ngIf="showRegistrationForm">
  <form>
    <div class="form-group">
      <label for="emailAddress">emailAddress</label>
      <input type="email" class="form-control" placeholder="test@example.com" name="emailAddress" [(ngModel)]="registration.emailAddress">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="registration.password">
    </div>
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input type="text" class="form-control" placeholder="FirstName" name="firstName" [(ngModel)]="registration.firstName">
    </div>
    <div class="form-group">
      <label for="lastName">LastName</label>
      <input type="text" class="form-control" placeholder="lastName" name="lastName" [(ngModel)]="registration.lastName">
    </div>
    <div class="form-group">
      <label for="addressLine1">Address Line 1</label>
      <input type="text" class="form-control" placeholder="east suite, westway" name="addressLine1" [(ngModel)]="registration.addressLine1">
    </div>
    <div class="form-group">
      <label for="addressLine2">Address Line 2</label>
      <input type="text" class="form-control" placeholder="address line 2" name="addressLine2" [(ngModel)]="registration.addressLine2">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" placeholder="San Francisco" name="city" [(ngModel)]="registration.city">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <select class="form-control" id="state" name="state" [(ngModel)]="registration.state">
        <option>CA</option>
        <option>TN</option>
        <option>TX</option>
        <option>VA</option>
        <option>MA</option>
      </select>
    </div>
    <div class="form-group">
        <label for="zipCode">ZipCode</label>
        <input type="text" class="form-control" placeholder="zipCode" name="zip" [(ngModel)]="registration.zip">
      </div>
      <div class="form-group">
          <label for="deviceType">Device Type</label>
          <select class="form-control" id="deviceType" name="deviceType" [(ngModel)]="registration.deviceType">
            <option>iOS</option>
            <option>Android</option>
            <option>Desktop</option>
          </select>
        </div>
    <button type="button" class="btn btn-outline-primary btn-block mr-2" (click)="onRegisterSuccess()">Register</button>
    <button type="button" class="btn btn-outline-primary btn-block mr-2" (click)="onRegisterCancel()">Reset</button>
  </form>
</div>