<div class="row">
    <div class="col-xs-6 col-sm-6" *ngIf="!showForm">
            <h5 *ngIf="menuItems.length === 0">There no menu items.</h5>
        <div class="list-group">
            <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let menuItem of menuItems" (click)="$event.stopPropagation();">
                <div class="d-flex w-100 justify-content-between"  style="padding-bottom: 10px;">
                  <h5 class="mb-1">{{menuItem.title}}</h5>
                  <small>{{menuItem.costPerItem}}</small>
                </div>
                <p class="mb-1">{{menuItem.description}}</p>
                <small>{{menuItem.addressLine1}}</small>
                <br/>
                <small>{{menuItem.city}} {{menuItem.zipCode}}</small>
                <div class="d-flex w-100 justify-content-end">
                    <span>
                        <div>
                          <a (click)="onRemoveMenuItem(menuItem.id, $event); $event.stopPropagation();">
                            <i class="fas fa-trash" style="padding-right:0.3em;" aria-hidden="true"></i>
                          </a>
                          <a (click)="onEditMenuItem(menuItem.id, $event); ">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                          </a>
                        </div>
                    </span>
                </div>
              </a>
        </div>
        <div style='align-content: right; margin-top: 20px;'>
          <button type="button" class="btn btn-primary" (click)="showAddMenuItemForm()">Add New Item</button>
        </div>
    </div>

    <div class="col-xs-6 col-sm-6" *ngIf="showForm" style='margin-bottom: 10px;'>
            <form>
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" class="form-control" placeholder="Paneer Masala" name="title" [(ngModel)]="menuItem.title">
                    </div>
                    <div class="form-group">
                      <label for="addressLine1">Address Line 1</label>
                      <input type="text" class="form-control" placeholder="east suite, westway" name="addressLine1" [(ngModel)]="menuItem.addressLine1">
                    </div>
                    <div class="form-group">
                      <label for="addressLine2">Address Line 2</label>
                      <input type="text" class="form-control" placeholder="address line 2" name="addressLine2" [(ngModel)]="menuItem.addressLine2">
                    </div>
                    <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" class="form-control" placeholder="San Francisco" name="city" [(ngModel)]="menuItem.city">
                    </div>
                    <div class="form-group">
                      <label for="state">State</label>
                      <select class="form-control" id="state" name="state" [(ngModel)]="menuItem.state">
                        <option>CA</option>
                        <option>TN</option>
                        <option>TX</option>
                        <option>VA</option>
                        <option>MA</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="zipCode">ZipCode</label>
                        <input type="text" class="form-control" placeholder="zipCode" name="zip" [(ngModel)]="menuItem.zipCode">
                      </div>
                      <div class="form-group">
                        <label for="availableQty">Available Quantity</label>
                        <input type="text" class="form-control" placeholder="10" name="availableQty" [(ngModel)]="menuItem.availableQuantity">
                      </div>
                        <div class="form-group">
                                <label for="costPerItem">Cost Per Item</label>
                                <input type="text" class="form-control" placeholder="5.99" name="costPerItem" [(ngModel)]="menuItem.costPerItem">
                            </div>
                        <div class="form-group">
                                <label for="startDate">Start Date (MM/DD/YY)</label>
                                <input type="text" class="form-control" placeholder="12/01/18" name="startDate" [(ngModel)]="menuItem.startDateStr">
                        </div>
                        <div class="form-group">
                                <label for="endDate">End Date (MM/DD/YY)</label>
                                <input type="text" class="form-control" placeholder="12/01/18" name="endDate" [(ngModel)]="menuItem.endDateStr"> 
                        </div>
                        <div class="form-group">
                                <label for="closeDate">Close Date (MM/DD/YY)</label>
                                <input type="text" class="form-control" placeholder="12/01/18" name="closeDate" [(ngModel)]="menuItem.closeDateStr">
                        </div>
                      <div class="form-group">
                          <label for="categories">Categories</label>
                          <select class="form-control" id="categories" name="categories" multiple [(ngModel)]="menuItem.categories">
                            <option *ngFor="let category of categories" [ngValue]="category" >{{category.name}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                                <label for="specialNeeds">Special Needs</label>
                                <select class="form-control" id="specialNeeds" name="specialNeeds" [(ngModel)]="menuItem.specialNeeds" multiple >
                                  <option *ngFor="let specialNeed of specialNeeds" value="specialNeed">{{specialNeed.name}}</option>
                                </select>
                              </div>
                              <div class="form-group">
                                    <label for="deliveries">Delivery Type</label>
                                    <select class="form-control" id="deliveries" name="deliveries" multiple [(ngModel)]="menuItem.deliveries">
                                      <option *ngFor="let deliveryType of deliveryTypes" [ngValue]="deliveryType">{{deliveryType.name}}</option>
                                    </select>
                                  </div>
                    <div class='container'>
                      <div class='row'>
                        <div class='col-sm'>
                          <button type="button" style='width:200px;' class="btn btn-primary btn-block" (click)="onAddMenuItem()">
                            <i class="fas fa-check-circle"></i>
                            <span style='margin-left: 10px;'>
                                Add Item
                            </span>
                          </button>
                        </div>
                        <div class='col-sm'>
                          <button type="button" style='width:200px;' class="btn btn-danger btn-block" (click)="onCancel()">
                            <i class="fas fa-ban"></i>
                            <span style='margin-left: 10px;'>Cancel</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
        </div>
</div>
